<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="DB_CW" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Programs\C#\CW\CW_OOP_Test1\DatabaseCW.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>